{{- $id := .Get "id" -}}
{{- $title := .Get "title" -}}
{{- $start := .Get "start" -}}
<div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe 
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    src="https://www.youtube.com/embed/{{ $id }}{{ if $start }}?start={{ $start }}{{ end }}" 
    title="{{ if $title }}{{ $title }}{{ else }}YouTube video{{ end }}"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>
